label[for="popup"]{ 
cursor:pointer; 
} 
input[name="popup"]{ 
display:none; 
} 
input[name="popup"] + div{ 
visibility: hidden; 
transition: 0.5s; 
opacity: 0; 
} 
input[name="popup"]:checked +div{ 
visibility: visible; 
opacity: 1; 
} 
input[name="popup"] + div>.text{ 
transform: translateY(50px); 
transition: 0.5s; 
} 
input[name="popup"]:checked +div>.text{ 
transform: translateY(150px); 
} 
body{ 
background: black; 
color: white; 
} 
.forma{ 
border-radius: 10px; 
background: grey; 
margin:0 auto; 
max-width: 50%; 

} 
input{ 
border: 0; 
margin: 10px; 
padding: 10px; 
border-radius: 100px; 
font-family: sans-serif; 
font-size: 10px; 
} 

select{ 
margin: 10px; 
padding: 10px; 
font-family: sans-serif; 
font-size: 15px; 
} 
button{ 
border: 0; 
border-radius: 100px; 
margin: 10px; 
padding: 10px; 
font-family: sans-serif; 
font-size: 15px; 
background: white; 
} 

label{ 
display: block; 
margin: 15px; 
font-family: sans-serif; 
color: white; 
font-size:18px; 
padding: 10px 20px; 
background-color: grey; 
transition: 0.1s; 
} 
label:hover{ 
transform: scale(2); 
} 
.popup{ 
top: 0; left:0; 
position:fixed; 
background-color: rgba(0,0,0,0.7); 
width: 100%; 
height:100%; 
text-align: center; 
font-size: 50px; 
} 
.text{ 
display: inline-block; 
background-color: black; 
}